.about {
    width: 80%;
    margin-left: 10%;
    height: auto;
}

.topic {
    width: 30%;
}

.about_us,
.contact {
    width: 80%;
    margin-left: 10%;
    text-align: justify;
}

.contact img {
    width: 30px;
}

.map iframe {
    box-shadow: 0 0 5px 0 rgb(121, 121, 121);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}